extends layout
block content
  head
    body
      div.right
        p#more1 更多产品
        p.right1
         img(src="../images/right1.png")
         span 糯米
        p.right1
         img(src="../images/right2.png")
         span 音乐
        p.right1
         img(src="../images/right3.png")
         span 图片
        p.right1
         img(src="../images/right4.png")
         span 知道
        p.right1
         img(src="../images/right5.png")
         span 文库
        p.right1
         img(src="../images/right6.png")
         span 风云榜
        a(href='#') 全部产品>
      div.top
        a#more 更多产品
        div.set
          p.set1
            a(href='#') 搜索设置
            a(href='#') 高级搜索
            a(href='#') 关闭预测
            a(href='#') 搜索历史
          a#set(href='#') 设置
        a#login(href='#') 登陆
        a(href='#') 学术
        a(href='#') 贴吧
        a(href='#') 视频
        a(href='#') 地图
        a(href='#') hao123
        a(href='#') 新闻
      div.logo
        img(src="../images/logo.png")
      div.search
       img(src="../images/camera.png")
       input
       button 百度一下
      div.QR
       img(src="../images/QR.png")
       b 手机百度
      div.nav
        a(href='#') 把百度设为主页
        a(href='#') 关于百度
        a(href='#') About  Baidu
        a(href='#') 百度推广
      div.bottom
        span ©2017 Baidu
        a(href='#')  使用百度前必读
        a(href='#')  &nbsp;意见反馈
        span &nbsp;京ICP证030173号
        img(src="../images/icon1.png")
        a(href='#') 京公网安备11000002000001号
        img(src="../images/icon2.png")